<div class="container-fluid">
  <h2>If it inspires you, it will inspire another</h2>
  <form #quoteForm="ngForm" *ngIf="!submitted" (ngSubmit)="submitQuote()" novalidate>
    <div class="form-group">
      <label>What's you quote?</label>
      <textarea
        name="quote"
        id="quote"
        class="form-control"
        #quote="ngModel"
        [class.is-invalid]="quote.invalid && quote.touched"
        [(ngModel)]="enterQuote.quote"
        required
      ></textarea>
      <small class="text-danger" [class.d-none]='quote.valid || quote.untouched'>Quote is Required</small>
    </div>
    <div class="form-group">
      <label>Quote Author</label>
      <input
        type="text"
        name="author"
        id="author"
        class="form-control"
        [(ngModel)]="enterQuote.author"
        #author="ngModel"
        [class.is-invalid]="author.invalid && author.touched"
        required
      />
      <small class="text-danger" [class.d-none]= 'author.valid || author.untouched'>Author is Required</small>
    </div>
    <div class="form-group">
      <label>Quote Submitter</label>
      <input
        type="text"
        name="submitter"
        id="submitter"
        class="form-control"
        [(ngModel)]="enterQuote.submitter"
        #submitter="ngModel"
        [class.is-invalid]="submitter.invalid && submitter.touched"
        required
      />
      <small class="text-danger" [class.d-none]= 'submitter.valid || submitter.untouched'>Submitter is Required</small>
    </div>
    <button class="btn btn-primary" ng-click='reset()'>Submit Quote</button>
  </form>
</div>
