<form class="container">
    <div class="form-group">
        <label for="quote">What's you quote</label>
        <textarea name="quote" id="quote" cols="30" rows="10" required></textarea>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" required placeholder="Who is the Author?">
    </div>
    <div class="form-group">
        <label for="submiter">Person Submitting</label>
        <input type="text" required placeholder="Who's Submitting the Quote?">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>