* {
  overflow-x: hidden;
  width: 100%;
}
h2{
    font-family: Lobster;
}
.all{
    width: 100%;
}
.content{
    font-family: "Tangerine", serif;
    font-size: 5rem;
    color: whitesmoke;
}
.output{
    padding: 6rem 2rem 4rem 2rem;
    text-align: center;
    width: 30rem; 
    display: table-cell;    
}

.show {
  text-align: center;
  width: 20rem;
  height: 20rem;
  margin: 2rem 1rem;
  border: none;
}
h2 {
  font-family: Lobster;
}
.buttons {
  margin: 1rem;
}
.btn-success,
.btn-warning {
  margin-right: 1rem;
}
