*{
  overflow-x: hidden;
}
h2{
  font-family: Lobster;
  margin: 2rem;
  text-align: center;
  font-size: 3rem;
}
.yea{
  display: grid;
  grid-template-columns: 30rem 1fr;
}
.content{
  font-family: Tangerine;
  color: whitesmoke;
  font-size: 3rem;
}
.show{
  padding-left: 6rem;
  padding-top: 2rem;
  width: 30rem;
  text-align: center;
}
.btn{
  margin: 1rem;
}