.show {
  text-align: center;
  width: 20rem;
  height: 18rem;
  margin: 2rem 1rem;
  border: none;
}
h2 {
  font-family: Lobster;
}
.buttons {
  margin: 1rem;
}
.btn-success,
.btn-warning {
  margin-right: 1rem;
}
